.checklist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.checklist li {
    background-image: url('uncheck.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px 18px;
    padding-left: 28px;
    margin-bottom: 6px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.checklist li.checked {
    background-image: url('check.webp');
}
