
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0b0b0b;
    color: #f2f2f2;
    line-height: 1.5;
}
.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 10px;
}
h1 {
    text-align: center;
    color: #b30000;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h2 {
    color: #ffffff;
    border-bottom: 2px solid #b30000;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

article,
section,
aside {
    background-color: #141414;
    border: 1px solid #2a2a2a;
    border-left: 4px solid #b30000;
    padding: 15px;
    margin-bottom: 20px;
}


ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 6px;
}


a {
    color: #d60000;
    text-decoration: none;
}




.image img {
    max-width: 150px;
    display: block;
    margin-top: 10px;
    border: 2px solid #b30000;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

th,
td {
    border: 1px solid #2a2a2a;
    padding: 6px;
    text-align: left;
}

thead th {
    background-color: #1a1a1a;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    h1 {
        font-size: 1.6rem;
    }

    .image img {
        margin-left: auto;
        margin-right: auto;
    }
}
