.container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(5,auto);
    gap: 5px;

}

.container .block{
    padding:20px;
    color: black;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
grid-column-start: span 3;
background-color: #b53669;
 }
.block.block2{
    grid-column-start: 1 ;
    grid-row-start: 2  ;
    grid-row-end:  span 2 ;
    background-color: #716da5;}
.block.block3{
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #7c8cc0;}
.block.block4{
    grid-column-start: 3;
    grid-row-start: 2;
background-color: #a0d0d8;}
.block.block5{
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 3;
    background-color: #c191ce;}
.block.block6{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
background-color: #b53669;}
.block.block7{
    grid-column-start: 3;
    grid-row-start: 4;
background-color: #716da5;}
.block.block8{
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 5;
    background-color: #7c8cc0;}
