body{
    width: 95%;
    margin: auto;
    font-family: Verdana sans-serif;

}
article {
    background-color: #4444;
    margin-bottom: -10px;
}
nav a{
    color: greenyellow;
}
nav {
    background-color: black ;


}
 body section header h1 {
    background-image: url("../header.jpg");
    background-repeat: no-repeat;
    background-size: 2000px;
         background-position: center;
     color: white;
     padding: 20px;
     margin-bottom: 0px;

}
   h2 {
     text-decoration: underline;
 }
   footer{
       margin-top: 15px ;
   }